<div class="w-full my-5">
  <p class="text-xl sm:text-2xl px-5 md:px-24 my-3">Purchase history</p>
  <div *ngIf="isLoading">
    <p>Loading...</p>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="!purchases || purchases.length === 0" class="w-full md:w-1/2 px-5 mx-auto">
      <div class="text-center flex flex-col gap-1">
        <p class="font-medium">😱 You have no purchases so far! Buy some music.</p>
        <p class="text-green-500">Preferably buy something that promotes responsibility, intelligence, liberty, love, personal growth...</p>
        <p class="text-red-500">Don't buy something promoting discrimination, reification, violence, debauchery...</p>
        <i>Solo soy el reflejo de la música que escucho</i>
        <p><span class="font-medium">Don't put profits before moral values and principles</span>. That's what society (yes, you & me included, not only enterprises or politicians) should keep in mind</p>
      </div>
    </div>
    <div *ngIf="purchases" class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-5 mx-auto">
      {{purchases.toString()}}
    </div>
  </div>
</div>
