<app-header [navigation]="navigation" class="print:hidden"></app-header>
<p class="w-full md:hidden bg-red-900 text-center print:hidden">Screen is too small for a correct visualization 😭</p>
<div *ngIf="isLoading">
  <p>Loading...</p>
</div>
<div *ngIf="!isLoading" class="w-full md:w-5/6 xl:w-2/3 px-5 mx-auto">
  <div #pdfWrapper>
    <div class="flex justify-between">
      <div class="flex flex-col gap-6">
        <p>
          <span class="text-3xl font-extrabold">Invoice</span><br>
          <span class="text-2xl">{{invoice.id}}</span>
        </p>
        <div>
          <p class="text-xl font-extrabold">TO:</p>
          <p class="font-medium">{{invoice.billing.name}}</p>
          <p>{{invoice.billing.address1}}<span *ngIf="invoice.billing.address2">, &nbsp;{{invoice.billing.address2}}</span></p>
          <p>{{invoice.billing.state}}, {{invoice.billing.country}}, {{invoice.billing.zipCode}}</p>
        </div>
      </div>
      <div class="flex flex-col gap-6">
        <div>
          <span class="text-2xl font-bold">Supermock</span><br>
          <span class="text-large font-light text-gray-300">Guaranteed our music will blow your mind, mwah</span>
        </div>
        <div>
          <p>Super monads #73</p>
          <p>No man's state, super country</p>
          <p>Phone: 427-000-000</p>
        </div>
      </div>
    </div>

    <div class="mt-10 mb-8">
      <span class="text-xl">Invoice details:</span>
    </div>

    <div class="flex justify-around text-center mb-3">
      <span class="w-40 mx-10 print:w-[3cm] print:mx-[0.5cm]">Artist</span>
      <div class="flex-grow flex justify-around">
        <span class="w-40 mx-10 print:w-[3cm] print:mx-[0.5cm]">Album</span>
        <div class="flex-grow flex text-left">
          <span class="w-32">ID</span>
          <span class="w-52">Song</span>
          <span class="w-12">Price</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <div *ngFor="let artist of invoice.cart.artistsInCart" class="flex justify-around relative">
        <div class="w-full h-[2px] bg-purple-900 absolute"></div>
        <div class="w-40 flex flex-col text-center items-center justify-center mx-10 print:w-[3cm] print:mx-[0.5cm] pt-4">
          <img src="{{artist.picture}}" alt="{{artist.name}}" class="rounded-full w-20">
          <p>{{artist.name}}</p>
        </div>
        <div class="flex flex-col pt-4">
          <div *ngFor="let album of artist.albumsInCart; first as isFirst" class="flex-grow flex justify-around relative">
            <div *ngIf="!isFirst" class="w-full h-[2px] bg-purple-800 absolute"></div>
            <div class="w-40 flex flex-col text-center items-center justify-center mx-10 print:w-[3cm] print:mx-[0.5cm] pt-4">
              <img src="{{album.cover}}" alt="{{album.title}}" class="rounded-full w-20">
              <p class="whitespace-pre-wrap">{{album.title}}</p>
            </div>
            <div class="flex flex-col gap-4 pt-4">
              <div *ngFor="let track of album.tracksInCart" class="flex-grow flex">
                <p class="w-32">{{track.id}}</p>
                <p class="w-52">{{track.title}}</p>
                <p class="w-12">${{track.price}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right mt-5">
      <span class="text-xl">Total:</span>&nbsp;
      <span class="text-2xl">${{invoice.cart.total}}</span>
    </div>

    <div class="mt-8 text-center">
      <p class="font-bold">💕 Thank you for your purchase and support to music 💕</p>
      <p>Have a great day!</p>
      <p class="text-sm font-light">Remember this is a mock application</p>
    </div>
  </div>
  <div class="w-full my-5 flex justify-center items-center print:hidden">
    <button mat-flat-button (click)="print()" class="flex gap-3 items-center justify-center">
      <mat-icon>print</mat-icon>
      <span>Print</span>
    </button>
  </div>
</div>
